*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./run9.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    
}

.container{
    color: rgb(0, 0, 0);
}

.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 30px;
    font-weight: bold;
}
.btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    background-color: #444444;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
    border: 0;
    transition: 0.3s;
}
.btn:hover{
    box-shadow: 3px 3px #242424;
    transition: 0.3s;
    background-color: #000;
}